<form ng-submit="submitBook()">
  <input type="text" ng-model="book.title" placeholder="title" />
  <input type="text" ng-model="book.author" placeholder="author" />
  <input type="text" ng-model="book.publisher" placeholder="publisher" />
  <input type="text" ng-model="book.year" placeholder="year" />
  <input type="text" ng-model="book.price" placeholder="price" />
  <input type="text" ng-model="book.discount" placeholder="discount" />
  <input type="text" ng-model="book.language" placeholder="language" />
  <input type="text" ng-model="book.category" placeholder="category" />
  <input type="text" ng-model="book.description" placeholder="description" />
  <input type="text" ng-model="book.rating" placeholder="rating" />
  <input type="text" ng-model="book.average" placeholder="average" />
  <input type="text" ng-model="book.count" placeholder="count" />
  <input type="text" ng-model="book.isbn" placeholder="isbn" />
  <input type="text" ng-model="book.removable" placeholder="removable" />
  <input type="submit" value="Add Book" />
</form>